<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <main>
      <div class="jumbotron h-full">
        <h1>Welcome to Todo list app</h1>
        <p>Manage your tasks with ease</p>
        <!-- two buttons for login and sign up -->
        <p>Login in or Register to continue</p>
        <a href="/login" class="btn btn-primary btn-lg">Login</a>
        <a href="/register" class="btn btn-success btn-lg">Sign up</a>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
